#contact {
    padding: 5rem 0;
    background-color: #f9f9f9; /* Cambia el color de fondo si es necesario */
}

.contact-container {
    max-width: 600px; /* Ajusta según tus necesidades */
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff; /* Fondo de la forma */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Sombra suave para la forma */
    border-radius: 5px; /* Bordes redondeados para la forma */
}

.contact-h2 {
    color: #333; /* Color del texto */
    margin-bottom: 2rem;
}

.contact-form-group {
    margin-bottom: 1rem;
}

.contact-form-label {
    font-weight: bold; /* Hace que la etiqueta sea negrita */
    color: #666; /* Color de la etiqueta */
    display: block; /* Asegura que la etiqueta sea un bloque para alinear con el input */
    margin-bottom: .5rem;
}

.contact-form-control {
    width: 100%; /* Asegura que el input tome todo el ancho disponible */
    padding: .5rem;
    border: 1px solid #ddd; /* Borde sutil para los inputs */
    border-radius: 4px; /* Bordes redondeados para los inputs */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del input */
}

.contact-form-control:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 0 2px rgba(0,123,255,.25); /* Sombra suave alrededor del input enfocado */
}

.contact-form-textarea {
    height: 150px; /* Ajusta la altura inicial del textarea */
}

.contact-btn-primary {
    display: block; /* Hace que el botón sea un bloque */
    width: 100%; /* El botón toma todo el ancho disponible */
    padding: 1rem; /* Padding generoso para hacer el botón más grande */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 4px; /* Bordes redondeados para el botón */
    margin-top: 1rem; /* Margen superior para separarlo del elemento anterior */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

.contact-btn-primary:hover {
    background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}