.footer {
    background-color: #333; /* Gris oscuro */
    color: #fff; /* Texto blanco */
    text-align: center; /* Centra el contenido */
    padding: 20px 0; /* Añade padding arriba y abajo */
    font-size: 16px; /* Tamaño de fuente */
}

.footer a {
    color: #fff; /* Enlaces en blanco */
    text-decoration: none; /* Quita el subrayado */
    margin-left: 10px; /* Espacio antes del enlace */
}

.footer a:hover {
    color: #ddd; /* Color del enlace al pasar el mouse */
}

.footer i {
    margin-right: 5px; /* Espacio a la derecha del ícono */
}
