/* Estilo minimalista con altura igual */
.service-card-minimal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border: none;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
    min-height: 350px; /* Ajusta este valor según la altura que prefieras */
}

.service-card-minimal:hover {
    background-color: #e9ecef;
}

.icon-container {
    margin-bottom: 10px;
}

.title-service-minimal {
    font-size: 1.3rem;
    font-weight: 600;
    color: #003366;
    margin-bottom: 10px;
}

.card-text-minimal {
    font-size: 1.1rem;
    color: #666;
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
}

.btn-minimal {
    border-color: #003366;
    color: #003366;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.btn-minimal:hover {
    background-color: #003366;
    color: white;
}
